name: Address issues

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        version: "0.9.16"
    - name: Set up Python
      run: uv python install
    - name: Install the project
      run: uv sync --locked
    - name: Address issues
      env:
        NATIONSTATES_PASSWORD: ${{ secrets.NATIONSTATES_PASSWORD }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: |
        uv run python -m self_governance Wilbert 'Wilbert is a nation which values conformity, efficiency and economic growth.'
